/*Fonts imported from Google Fonts (https://fonts.google.com/)*/
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Schoolbell&display=swap');

/* Body element styling */
* {
    margin: 0;
    padding: 0;
    border: none;   
}
body {
     background-image: 
     background-repeat: no-repeat;
     background-size: cover;
}

h1 {
    font-family: "Finger Paint";
    font-size: 300%;
    text-align: center;
    padding: 3rem;
}    
h2, h3 {
    font-family: Schoolbell, cursive;
    color: black;   
    text-align: center; 
}

#input-box {
    background-image: url(../images/input-bkg.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    height: 20rem;
    float: left;
    margin-top: 6rem;
}
#theman {
    background-image: url(../images/img0.png);
    width: 50%;
    height: 25rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    display: inline-block;
}
#final-message {
    background-color: purple;
    width: 20%;
    height: 20rem;
    text-align: center;
    float: right;   
}
#boxes-area {
    display: block;
    text-align: center;
}
.container {
    color: white;
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: blue;
    margin: 2px;
    display: inline-block;
    text-align: center;
}
.word-letters {
    visibility: hidden;
    text-transform: uppercase;
}
#input-box > h2 {
   padding-top: 3rem; 
}

