.letters {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: blue;
    margin: 2px;
    display: inline-block;
}
  #game-area {
      width: 50px;
      height: 50px;
      border: 1px solid black;
  }